################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Linq.If.Sample/.vs/Linq.If.Sample/v16
