/* variable */
:root {
    --main-color: #458FF6;
    --secondary-color: #193051;
}

.btn-main {
    margin-top: 10px;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.btn-main:hover {
    background-color: var(--secondary-color);
    color: white;
}

img {
    margin-left: 40px;
}

.register {
    margin-left: 300px;
}