/* variable */
:root {
    --main-color: #458FF6;
    --secondary-color: #193051;
}

.img1 {
    position: absolute;
    top: 240px;
    left: 20px;
}

.img2 {
    position: absolute;
    top: 240px;
    left: 470px;
}

.img3 {
    position: absolute;
    top: 480px;
    left: 240px;
}