<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Nlog\logs\internalLog.txt">

	<targets>
		<target xsi:type="Database"
      name="dbTarget"
      connectionString="Data Source=localhost;Initial Catalog=NLog;Integrated Security=true;TrustServerCertificate=True"
      commandText="INSERT INTO Logs(CreatedOn,Message) VALUES (@datetime,@msg)">
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@msg" layout="${message}" />
		</target>
		<target xsi:type="File"
            name="fileTarget"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${message} " />
	</targets>

	<rules>
		<logger name="EPIRoboticFuelLogger.Models.Log" minlevel="Info" writeTo="dbTarget,fileTarget" />
	</rules>
</nlog>